__Web scraping__ is a technique that allows us to obtain information from the internet in an automated way. Instead of\
collecting data manually, we can use Python to extract it directly from websites and transform it into useful knowledge. 

In this project, I am going to perform web scraping using Pandas, taking advantage of the tools we have already seen in\
the previous notebooks. Although libraries such as BeautifulSoup, Selenium or Scrapy are commonly used for this task, it\
is also possible to do it with Pandas in a simple and effective way.

There is more info about this techniques in the following link:\
https://medium.com/geekculture/from-web-to-insights-extracting-data-with-web-scraping-techniques-81aa82bd6e5

In [1]:
import pandas as pd

## 1 Reading a .csv from a URL with Pandas

Target website: https://www.football-data.co.uk/data.php

In [10]:
# reading 1 csv file from the website
df_premier24 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')

So this website contains data about football matches of different leagues. In particular, i'm going to scrape\
the England football results of the main leagues, the premier league from the Season 2024/2025.

In [11]:
# showing dataframe
df_premier24.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

In [12]:
# renaming columns
df_premier24.rename(columns={'FTHG':'home_goals',
                             'FTAG':'away_goals'},inplace=True)
# FTHG stands for Final Time Home Goals. So it means all the goals scored by the home team (goles del equipo local)
# FTAG stands for Final Time Away Goals. So it means all the goals scored by the away team (goles del equipo visitante)

In [13]:
# showing dataframe
df_premier24.head()

,Div,Date,Time,HomeTeam,AwayTeam,home_goals,away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

## 2. Reading .csv from Multiple URLs with Pandas

* So this is the link that I used before (Premier League): https://www.football-data.co.uk/mmz4281/2425/E0.csv
* The following link (Championship): https://www.football-data.co.uk/mmz4281/2425/E1.csv    (it changes the name of the league, this is E1 instead of EO)

Now instead of using the same link, I'm going to insert varaiables
__Link: root + season + league__

In [14]:
# link structure
"https://www.football-data.co.uk/mmz4281/" + "2425" + "/" "E0" + ".csv"
# So this link is the same as I used before but it's divided by elements

# So this chunk: "https://www.football-data.co.uk/mmz4281/" is the root of the link (all the link have in common this element)

# The next link is: https://www.football-data.co.uk/mmz4281/2425/E1.csv they are almost identical, but the only difference
# is the name of the league. In the 1st link is E0 whereas in the 2nd link is E1

# The previous two numbers "2425" represent the season.

'https://www.football-data.co.uk/mmz4281/2425/E0.csv'

And now instead of writing E0, we're going to create a variable so we can dinamically extract all this data.\
So instead of only extracting, we're going to extract all the links in a for loop. And to do that I'm going to create\
a root variable.

In [15]:
# creating a root variable
root = "https://www.football-data.co.uk/mmz4281/"

## 2.1 Multiple leagues

* https://www.football-data.co.uk/mmz4281/2425/E0.csv    Premier League
* https://www.football-data.co.uk/mmz4281/2425/E1.csv    Championship 
* https://www.football-data.co.uk/mmz4281/2425/E2.csv    League 1
* https://www.football-data.co.uk/mmz4281/2425/E3.csv    League 2
* https://www.football-data.co.uk/mmz4281/2425/EC.csv    Conference

In [16]:
# Creating list of leagues
leagues = ['E0','E1','E2','E3','EC']
frames = []

# looping through leagues, reading multiple csv and append it into a list
for league in leagues:
    df = pd.read_csv( root + '2425' + '/' + league + '.csv')
    frames.append(df)                                         # i'm going to store all this dfs inside the frames list
    
# So now what we're doing right now is to extract the CSV files that belong to elements in the league list

In [17]:
# length of frames
len(frames)

5

In [18]:
# So this is correct because we're supposed to get five CSV files, one per league.

In [24]:
# showing 1st, 2nd and 3rd elements
frames[0].head()    # so this is the first element of the list

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

In [25]:
frames[1].head()    # this is the 2nd element of the list

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E1,09/08/2024,20:00,Blackburn,Derby,4,2,H,1,0,...,1.85,2.05,1.85,2.06,1.97,2.10,1.85,1.99,1.88,2.11
1,E1,09/08/2024,20:00,Preston,Sheffield United,0,2,A,0,1,...,1.92,1.98,1.93,1.98,1.97,1.99,1.90,1.94,1.94,2.04
2,E1,10/08/2024,12:30,Cardiff,Sunderland,0,2,A,0,1,...,2.11,1.79,2.13,1.80,2.13,1.81,2.09,1.79,2.18,1.83
3,E1,10/08/2024,12:30,Hull,Bristol City,1,1,D,0,0,...,1.99,1.91,2.00,1.91,2.04,1.91,1.99,1.87,2.03,1.96
4,E1,10/08/2024,12:30,Leeds,Portsmouth,3,3,D,1,2,...,1.92,1.98,1.93,1.95,2.00,1.98,1.94,1.89,2.00,1.97

In [26]:
frames[2].head()    # And this is the 3rd element of the list

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E2,09/08/2024,20:00,Barnsley,Mansfield,1,2,A,1,2,...,2.03,1.83,2.02,1.87,2.05,2.00,1.95,1.85,2.06,1.93
1,E2,10/08/2024,17:30,Birmingham,Reading,1,1,D,0,1,...,1.80,2.05,1.81,2.10,1.83,2.10,1.80,2.01,1.82,2.16
2,E2,10/08/2024,17:30,Bristol Rvs,Northampton,1,0,H,0,0,...,1.98,1.88,1.98,1.91,1.98,1.92,1.93,1.86,2.02,1.97
3,E2,10/08/2024,17:30,Burton,Lincoln,2,3,A,2,2,...,1.80,2.05,1.82,2.08,1.88,2.09,1.80,2.01,1.88,2.11
4,E2,10/08/2024,17:30,Crawley Town,Blackpool,2,1,H,2,0,...,1.83,2.03,1.85,2.04,1.86,2.05,1.82,1.99,1.89,2.08

## 2.2 Multiple Seasons

And now I'm going to write a for loop that hel me extract the CSV files from different seasons.

In [33]:
for season in range(18, 24):
    print(season)

18
19
20
21
22
23

In [34]:
# building the structure of the season 
for season in range(18, 24):
    print(str(season) + str(season + 1))

1819
1920
2021
2122
2223
2324

In [35]:
# Creating list of leagues
leagues = ['E0','E2','E3']   
frames = []

# looping through leagues, reading multiple csv and append it into a list
for league in leagues:
    for season in range(18, 24):
        df = pd.read_csv( root + str(season) + str(season + 1) + '/' + league + '.csv')

        # so to easily recognize which season corresponds to a data frame, I'm going to a season/year column
        df.insert(1, 'season', season)
        
        frames.append(df)

In [36]:
# total frames (6 seasons x 3 leagues)
len(frames)

18

In [55]:
# Es como si tuvieramos 6 libros, con 3 hojas cada uno, y en cada hoja hay un dataframe con los datos de la liga.

In [38]:
# showing the 1st, and last element (new season column was created)
frames[0]

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,18,10/08/2018,Man United,Leicester,2,1,H,1,0,...,1.79,17,-0.75,1.75,1.70,2.29,2.21,1.55,4.07,7.69
1,E0,18,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,...,1.83,20,-0.75,2.20,2.13,1.80,1.75,1.88,3.61,4.70
2,E0,18,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,...,1.87,22,-0.25,2.18,2.11,1.81,1.77,2.62,3.38,2.90
3,E0,18,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,...,1.84,23,1.00,1.84,1.80,2.13,2.06,7.24,3.95,1.58
4,E0,18,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,...,1.81,20,0.25,2.20,2.12,1.80,1.76,4.74,3.53,1.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,18,12/05/2019,Liverpool,Wolves,2,0,H,1,0,...,2.31,22,-1.50,1.98,1.91,2.01,1.95,1.32,5.89,9.48
376,E0,18,12/05/2019,Man United,Cardiff,0,2,A,0,1,...,2.95,21,-2.00,2.52,2.32,1.72,1.64,1.30,6.06,9.71
377,E0,18,12/05/2019,Southampton,Huddersfield,1,1,D,1,0,...,2.29,22,-1.50,2.27,2.16,1.80,1.73,1.37,5.36,8.49
378,E0,18,12/05/2019,Tottenham,Everton,2,2,D,1,0,...,2.07,19,-0.50,2.13,2.08,1.85,1.80,1.91,3.81,4.15
379,E0,18,12/05/2019,Watford,West Ham,1,4,A,0,2,...,2.44,19,-0.50,2.25,2.19,1.78,1.72,2.11,3.86,3.41

In [39]:
# So here I see that now it has the season 18, which is correct, and the league is E0.. so it's working fine.

# Let's check the last element
frames[17]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E3,23,05/08/2023,15:00,Accrington,Newport County,3,0,H,1,...,1.74,-0.25,2.00,1.80,2.07,1.83,2.12,1.83,2.05,1.75
1,E3,23,05/08/2023,15:00,Crawley Town,Bradford,1,0,H,1,...,1.77,0.50,1.90,1.95,1.91,1.98,1.94,1.99,1.86,1.92
2,E3,23,05/08/2023,15:00,Crewe,Mansfield,2,2,D,1,...,1.94,0.50,2.00,1.85,2.01,1.88,2.06,1.89,1.96,1.82
3,E3,23,05/08/2023,15:00,Doncaster,Harrogate,0,1,A,0,...,1.78,-0.25,2.03,1.83,2.05,1.85,2.08,1.88,1.99,1.80
4,E3,23,05/08/2023,15:00,Forest Green,Salford,0,2,A,0,...,1.88,0.25,1.80,2.05,1.85,2.04,1.85,2.11,1.78,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,23,27/04/2024,15:00,Gillingham,Doncaster,2,2,D,0,...,2.11,0.25,1.83,2.03,1.85,2.05,2.00,2.06,1.85,1.95
548,E3,23,27/04/2024,15:00,Milton Keynes Dons,Sutton,4,4,D,2,...,2.68,-0.25,1.75,2.05,1.82,2.07,1.83,2.14,1.80,2.01
549,E3,23,27/04/2024,15:00,Salford,Harrogate,2,2,D,2,...,2.46,-0.75,1.93,1.93,1.98,1.91,2.02,1.97,1.90,1.90
550,E3,23,27/04/2024,15:00,Swindon,Morecambe,3,3,D,2,...,2.84,-1.25,2.03,1.83,2.04,1.85,2.04,1.85,1.99,1.80
551,E3,23,27/04/2024,15:00,Wrexham,Stockport,2,1,H,0,...,2.33,-0.25,1.95,1.90,1.96,1.89,2.10,1.95,1.93,1.86

In [40]:
# And we get the season 23, and the league E3. 

# And that's it. This is a way to extract multiple CSV files using Pandas.

## 3. Organizing all the data in a Dictionary

In [41]:
# creating a dictionary with original name of league as key
dict_countries = {
                'Spanish La Liga':'SP1', 
                'Spanish Segunda Division':'SP2',
                'German Bundesliga':'D1',
                'English Premier League':'E0',
                'English League 1':'E2', 
                'English League 2':'E3',
            }
# key (original name of the league): value (the code)

In [42]:
# getting a dictionary element (a value)
dict_countries['Spanish La Liga']

'SP1'

In [43]:
# I've got 'SP1' because this is the value for the 'Spanish La Liga' key

In [46]:
# if we print this

for league in dict_countries:
    print(league)

Spanish La Liga
Spanish Segunda Division
German Bundesliga
English Premier League
English League 1
English League 2

In [48]:
# we get the keys.

# if want to get the values we can use this syntax
for league in dict_countries:
    print(dict_countries[league])

SP1
SP2
D1
E0
E2
E3

In [49]:
# we're going to store all the dataframes that we extracted in the "Multiple Seasons" sections
# so we can access the data of the csv files of the multiple leagues without using the indexing notation.

dict_historical_data = {}

# Creating list of leagues
# leagues = ['E0','E2','E3']   

# looping through key elements
for league in dict_countries:
    frames = []                  # every time we iterate over this dictionary  we're going to create a new frames empty list
    for season in range(18, 24):
        df = pd.read_csv( root + str(season) + str(season + 1) + '/' + dict_countries[league] + '.csv')

        # so to easily recognize which season corresponds to a data frame, I'm going to a season/year column
        df.insert(1, 'season', season)
        
        frames.append(df) 
    df_concat = pd.concat(frames)    # esta instruccion lo que hace es concatenar un df de una temporada con el df de la temporada siguiente   
    dict_historical_data[league] = df_concat    # uno abajo del otro. Y al concatenar todas las temporadas en un df lo almacena como un value
    
# we can use the dict_countries[league] syntax to replace the name of the league (the code of the league)
# because for example, to download the CSV files for the 'Spanish La Liga' 

# we have to access to the link   https://www.football-data.co.uk/mmz4281/2425/SP1.csv   and the code is 'SP1' insted of 'E0'

# And also, if I want to download the CSV files for the 'Spanish Segunda Division'
# https://www.football-data.co.uk/mmz4281/2425/SP2.csv         and the code is 'SP2' instead of 'E2'

# So the idea is to use the same root and change the code of the links so we can access the CSV files of other leagues
# and that will allow us to store the data in the dataframes contained in the frames list.

# So now we don't have the leagues list anymore, instead of that, now we have the dictionary dict_countries

# df_concat represents all the seasons of a league. for example, the CSV from season 18 to 24 of the 'Spanish La Liga'

# so what we're doing in the "dict_historical_data[league] = df_concat" step is assigning a key, that has the name of the league
# and this key is going to have a value, df_concat. So league is going to be the key and the df_concat is going to be the value

In [50]:
# showing dataframe inside dict_historical_data
dict_historical_data.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Division', 'German Bundesliga', 'English Premier League', 'English League 1', 'English League 2'])

In [51]:
# The keys are represented by the actual names of each competition

# So to get access to one of those dataframes, we only have to use the syntax to get a value from a dictionary
# For example, let's say we want to get the 'English Premier League' dataframe,

In [53]:
# So we only write the name of the key
dict_historical_data['English Premier League']

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,18,10/08/2018,Man United,Leicester,2,1,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,18,11/08/2018,Bournemouth,Cardiff,2,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,18,11/08/2018,Fulham,Crystal Palace,0,2,A,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,18,11/08/2018,Huddersfield,Chelsea,0,3,A,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,18,11/08/2018,Newcastle,Tottenham,1,2,A,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,23,19/05/2024,Crystal Palace,Aston Villa,5,0,H,2,0,...,2.78,-0.75,1.73,2.08,1.78,2.16,1.93,2.21,1.81,2.05
376,E0,23,19/05/2024,Liverpool,Wolves,2,0,H,2,0,...,5.17,-2.75,2.07,1.86,2.04,1.85,2.10,1.89,2.04,1.82
377,E0,23,19/05/2024,Luton,Fulham,2,4,A,1,2,...,2.69,0.25,2.00,1.93,1.99,1.93,2.02,1.94,1.96,1.91
378,E0,23,19/05/2024,Man City,West Ham,3,1,H,2,1,...,4.82,-3.00,2.03,1.90,1.99,1.90,2.05,1.99,1.96,1.91
379,E0,23,19/05/2024,Sheffield United,Tottenham,0,3,A,0,1,...,3.81,1.50,2.06,1.87,2.05,1.88,2.08,1.89,2.01,1.86

In [54]:
# And that's it. We got this dataframe that contains data of season 18, 19, 20, 21, 22 and 23. 
# And also we can see that this is premier league, because in the div feature we got the E0, that is
# the code for this competition.